[report]
exclude_lines =
    pragma: no cover
omit =
    *tests*
show_missing = True

[html]
title = openalea.stat_tool coverage report
directory = build/htmlcov

[run]
source = openalea.stat_tool
omit =
        *__init__*
        *test*

