Source: vplants-treematching2
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools (>= 0.6b3), python-dev (>= 2.7), debhelper (>= 7),  libboost-python-dev, python-openalea.deploy, python-openalea.sconsx


Package: python-vplants.treematching2
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Breaks: ${python:Breaks}
Description: Tree matching library

