Source: libvplants-treematching
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-dev, python-all (>= 2.6.6-3~),, debhelper (>= 7),  libvplants-tool, python-vplants.plantgl, libvplants-amlobj, libvplants-mtg, python-vplants.stattool, python-openalea.deploy, python-openalea.sconsx, libqt4-dev, libqt4-opengl-dev, libboost-python-dev, libreadline-dev, pkg-config, bison, flex, freeglut3-dev


Package: libvplants-treematching
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, libvplants-mtg, python-vplants.stattool
Provides: ${python:Provides}
Description: Tree matching library

