Source: vplants-treestatistic
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-dev (>= 2.6.6-3~), debhelper (>= 7),  python-vplants.aml, libvplants-tree, libqt4-dev, libqt4-opengl-dev, libboost-python-dev, libreadline-dev, pkg-config, python-openalea


Package: python-vplants.treestatistic
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-vplants.aml, libvplants-tree
Provides: ${python:Provides}
Description: Tree statistic

